.MessageContainer {
    display: flex; 
    padding: 8px;
    flex-direction: column;
}

.MessageCard {
    padding: 16px;
    max-width: 240px;
    font-size: 12px;
    text-align: left;
    border: solid 1px #d4dade;
    border-radius: 4px;
}

.MessageSent {
    align-items: flex-end;
}

.MessageSent .MessageCard {
    background-color: #fcf6c5;

}

.MessageReceived {
    align-items: flex-start;
}

.MessageReceived .MessageCard {
    background-color: white;
}

.MessageInfo {
    color: #b3bcc3;
    font-size: 10px;
}

.MessageCard p {
    margin-block: 0px;
    padding: 0;
}

